<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>+bubbler</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright 2013 SoundHack</string>
	<key>CFBundleIconFile</key>
	<string>APPL.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.soundhack.bubbler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>+bubbler</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.0.2</string>
	<key>CFBundleSignature</key>
	<string>SDHK</string>
	<key>CFBundleVersion</key>
	<string>8.0.2</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>SYConfig</key>
	<dict>
		<key>AutoConvertPresets</key>
		<true/>
		<key>CanDoMonoIO</key>
		<true/>
		<key>PresetIsFXB</key>
		<false/>
		<key>UpdateNameOnLoad</key>
		<true/>
	</dict>
	<key>VSTWindowCompositing</key>
	<true/>
</dict>
</plist>
